*{
	margin: 0;
/*	padding: 0;*/
}
body{
	font: 100%/2em Arial, Helvetica, sans-serif;	
	/*background-image: url(img/background.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/
}


#main{
	width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto; 
}

.Patients{
	display: block;
    background: rgba(0, 170, 238, 0.9); /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 3%; 
    border: 1px solid black;
    border-radius: 5px;
}


p{
	font-size: 100%;
}

a{
	text-decoration: none; /*ссылка без подчеркивания */
}
ol{
  padding: auto;
}


fieldset{
  /*width: 50%;*/  
  margin: 1%;
  padding: 1%;
  display: inline-block;
}


.patientView {
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 1em;
  outline: none;
  transition: 0.2s;
} 



.ui-autocomplete-input{
  margin-top: 3%;
	height: 27px;
	font-size: 20px;
}


.connected{
        background-color: rgb(214,86,43);
       width: 100%;
}    

.border {


}
.border li {
font-family: "Trebuchet MS", "Lucida Sans";
padding: 7px 20px;
margin-bottom: 10px;
border-radius: 5px;
border-left: 10px solid #f05d22; 
box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
font-size: 15px;
letter-spacing: 2px;
transition: 0.3s all linear;
}
.border li:nth-child(2){border-color: #8bc63e;}
.border li:nth-child(3){border-color: #fcba30;}
.border li:nth-child(4){border-color: #1ccfc9;}
.border li:nth-child(5){border-color: #493224;}
.border li:hover {border-left: 10px solid transparent;}
.border li:nth-child(1):hover {border-right: 10px solid #f05d22;}
.border li:nth-child(2):hover {border-right: 10px solid #8bc63e;}
.border li:nth-child(3):hover {border-right: 10px solid #fcba30;}
.border li:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
.border li:nth-child(5):hover {border-right: 10px solid #493224;} 